extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1=title
  | Мы команда проекта Quest Kingdom, наша миссия дать людям испытать себя в увлекательных приключениях, получить новый опыт активного отдыха.
  