extends layout

block content
  .row.page-header
    .col-lg-12
      h1=questInfo.title
      p.rating
        -for(var i = 1; i <= questInfo.rating; i++)
          span.glyphicon.glyphicon-star
        -for(i = questInfo.rating; i < 5; i++)
          span.glyphicon.glyphicon-star-empty
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          .panel.panel-primary
            .panel-heading
              h2.panel-title Описание
            .panel-body
              p=questInfo.description
          .panel.panel-primary
            .panel-heading
              h2.panel-title Завершили квест первыми
            .panel-body
              ul
                each participant in questInfo.topParticipants
                  li=participant
          .panel.panel-primary
            .panel-heading
              h2.panel-title Оценить квест
            .panel-body
              p.rating
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
                span.glyphicon.glyphicon-star-empty
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Место проведения
            .panel-body
              img.img-responsive.img-rounded(src=questInfo.location)