extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Список квестов

  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/quest") Математика
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star
          span.glyphicon.glyphicon-star-empty
          p.description Решение нескольких задач по теории вероятностей.