extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Список квестов

  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          ul
            each info in questInfo
              li
                h4
                  a(href="/quest")=info.title
                p.rating
                  -for(var i = 1; i <= info.rating; i++)
                    span.glyphicon.glyphicon-star
                  -for(i = info.rating; i < 5; i++)
                    span.glyphicon.glyphicon-star-empty
                p.description=info.description