extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1=title
  h2 Общие требования
  ul 
    li Добавляемые квесты должны иметь уникальные имена
    li Каждый пользователь может пройти квест только один раз
    li Запрещается использование квеста в каких-либо коммерческих целях
    li Пользование сайтом является полностью бесплатным